#phrase {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: aqua;
}